{% extends 'base.html' %}

{% block body %}
    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/static/assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p><span class="mr-2"><a href="{% url 'cars:index' %}" style="color:white;">Əsas səhifə <i class="ion-ios-arrow-forward"></i></a></span> <span>Məxfilik siyasəti <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">CAR-BOOK</h1>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 mr-b-50">
                    <p>
                        <br><strong style="color:black;">Məxfilik və təhlükəsizlik</strong>
                    </p>
                    <p style="color:dimgrey;">
                        <strong style="color:black">Ümumi müddəalar</strong><br>
                        "CarBook" MMC veb saytına ("Sayt") daxil olanların hər birindən alınan şəxsi məlumatlar və şəxsi məlumatlarla bağlı məxfilik siyasətinə riayət edir. Şirkət Saytın ziyarətçilərinin hüquqlarına hörmət edir və Saytın ziyarətçilərinin şəxsi məlumatlarının məxfiliyinin vacibliyini qeyd-şərtsiz tanıyır.
                        Bu Məxfilik Bəyannaməsi Saytın bütün ziyarətçilərinə şamil edilir, Şirkətin Sayt vasitəsilə hansı şəxsi məlumatları əldə edə biləcəyini və Şirkətin qəbul edilmiş şəxsi məlumatlarından necə istifadə edə biləcəyini müəyyənləşdirir.
                    </p>
                    <p style="color:dimgrey;">
                        <strong style="color:black;">Şəxsi məlumatların işlənməsi.</strong><br>
                        Fərdi məlumatlar şəxsi məlumatların mövzusu ilə əlaqəli məlumatları, xüsusən də soyadı, adı və atasının adı, doğum tarixi, pasport məlumatları, sürücünün vəsiqəsi haqqında məlumat, iş stajı, ünvanı, əlaqə məlumatlarıdır.
                    </p>
                    <p style="color:dimgrey;">
                        Şəxsi məlumatlarınızı könüllü olaraq təqdim etdikdə, başqa cür göstərilmədiyi təqdirdə şəxsi məlumatların aşağıdakı kimi şirkət tərəfindən işlənməsinə razılıq verilir: saxlama, sistemləşdirmə, yığma, dəqiqləşdirmə, istifadə, depersonalizasiya, ötürmə, silmə.
                    </p>
                    <p style="color:dimgrey;">
                        Şəxsi məlumatların emalının məqsədi Saytda tələb olunan məlumatları və xidmətləri təmin etməkdir.
                    </p>
                    <p style="color:dimgrey;">
                        Şəxsi məlumatlarınızın işlənməsini istəmirsinizsə, zəhmət olmasa bunları təmin etməyin.
                    </p>
                    <p style="color:dimgrey;">
                        <strong style="color:black;">Saytın az istifadəçiləri.</strong><br>
                        18 yaşdan kiçiksinizsə, Şirkətə şəxsi məlumat verməzdən əvvəl, valideynlərinizin icazəsini istəyin. Belə icazəsi olmayan istifadəçilərə şirkətə şəxsi məlumat verməyə icazə verilmir.
                    </p>
                    <p style="color:dimgrey;">
                        <strong style="color:black;">Alınan məlumatların qorunması və məlumatların saxlanması.</strong><br>
                        Şirkət, verdiyiniz məlumatı ona qanunsuz və ya təsadüfi daxil olmaqdan, məhv etmək, dəyişdirmək, bloklamaq, çıxarmaq, yaymaqdan, habelə üçüncü tərəflərin digər qanunsuz hərəkətlərindən qorumaq üçün bütün məqbul texniki və təşkilati tədbirləri görür.
                    </p>
                    <p style="color:dimgrey;">
                        Eyni zamanda, Sayt istifadəçiləri başa düşürlər və razılaşırlar ki, Şirkət təqdim olunan məlumatların mütləq qorunmasına zəmanət vermir
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-counter ftco-section img" id="section-counter">
			<div class="overlay"></div>
    	<div class="container">
    		<div class="row">
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="20">0</strong>
                <span>İllik <br>Təcrübə</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="70">0</strong>
                <span>Ümumi <br>Avtomobillər</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="2590">0</strong>
                <span>Xoşbəxt <br>Müştərilər</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text d-flex align-items-center">
                <strong class="number" data-number="53">0</strong>
                <span>Bölgəyə <br>Səfərlərin təşkili</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>

{% endblock %}