{% extends 'base.html' %}

{% block body %}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/static/assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Login <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Login</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">
        	<div class="col-md-4">
        		<div class="row mb-5">
		          <div class="col-md-12">
		          	<div class="border w-100 p-4 rounded mb-2 d-flex">
			          	<div class="icon mr-3">
			          		<span class="icon-map-o"></span>
			          	</div>
			            <p><span>Address:</span> 10 Nakhchivani St, Baku 1005</p>
			          </div>
		          </div>
		          <div class="col-md-12">
		          	<div class="border w-100 p-4 rounded mb-2 d-flex">
			          	<div class="icon mr-3">
			          		<span class="icon-mobile-phone"></span>
			          	</div>
			            <p><span>Phone:</span> <a href="tel://994773820333">+994 77 382 03 33</a></p>
			          </div>
		          </div>
		          <div class="col-md-12">
		          	<div class="border w-100 p-4 rounded mb-2 d-flex">
			          	<div class="icon mr-3">
			          		<span class="icon-envelope-o"></span>
			          	</div>
			            <p><span>Email:</span> <a href="mailto:car.book.rent.a.car@gmail.com">car.book.rent.a.car@gmail.com</a></p>
			          </div>
		          </div>
		        </div>
          </div>
          <div class="col-md-8 block-9 mb-md-5">
            <form method="POST" class="bg-light p-5 contact-form">
                {% csrf_token %}
              <div class="form-group">
              {% if form.old_password.errors %}
                    {% for error in form.old_password.errors %}
                        <li style="color:DodgerBlue"><span>{{ error|escape }}</span></li>
                    {% endfor %}
              {% endif %}
                {{ form.old_password }}
              </div>
              <div class="form-group">
                  {% if form.new_password1.errors %}
                     {% for error in form.new_password1.errors %}
                        <li style="color:DodgerBlue"><span>{{ error|escape }}</span></li>
                     {% endfor %}
                  {% endif %}
                {{ form.new_password1 }}
              </div>
              <div class="form-group">
                {% if form.new_password2.errors %}
                     {% for error in form.new_password2.errors %}
                        <li style="color:DodgerBlue"><span>{{ error|escape }}</span></li>
                     {% endfor %}
                {% endif %}
                {{ form.new_password2 }}
              </div>
              <div class="form-group">
                <input type="submit" value="Yenilə" class="btn btn-primary py-3 px-5">
              </div>
            </form>

          </div>
        </div>

      </div>
    </section>




  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>




{% endblock %}